{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "object-curly-newline": ["error", { "consistent": true }],
    "import/newline-after-import": [
      "error",
      {
        "count": 2
      }
    ],
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "max-len": "off",
    "react/require-default-props": "off"
  }
}
