* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    overflow: hidden;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus, .react-calendar__tile--active {
    background: #c65757;
}
.react-calendar__tile--hasActive {
    background: #c65658;
    color: #fff;
}

.react-calendar__navigation {
    height: 35px;
    margin-bottom: 2px;
}
